/* setting the typeface files */
@font-face {
  font-family: plantin light;
  src: url(../fonts/Plantin-MT-Light.woff);
}

/* Reset styles */
*, *::after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  [hidden]{
    display: none;
  }

  [no-scroll] {
    overflow: hidden;
  }

  /* Global styles */

  body {
    font-family: plantin light, serif;
    font-size: 5VW;
    letter-spacing: -.05rem;
    font-stretch: condensed;
    line-height: 1;
    background-color: #f0f0f0;
    color: #333;
    position:relative;
  }

  div {
    margin: 1rem;
    padding: .5rem;
  }

  P {
    margin: .125rem;
  }
  
  img {
    width: 90vw;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .indent {
    text-indent: 10vw;
  }

  .popup {
    position: fixed;
    /* inset: 0; inset is all border, margin and padding all together */
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    top: 0;
    left: 0;
    /* add animation to have the different emerging effect */
    
  }

 
/* 
the list of things i need to do
1. write all the scripts;
2. thinking about the clicking image function on top of the gif;
3. making the gif;
4. making the endnote and the colophon.
 */
  