/* setting the typeface files */
@font-face {
  font-family: plantin light;
  src: url(../fonts/Plantin-MT-Light.woff);
}

/* Reset styles */
*, *::after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  [hidden]{
    display: none;
  }

  [no-scroll] {
    overflow: hidden;
  }

  /* Global styles */

  body {
    font-family: plantin light, serif;
    font-size: 5VW;
    letter-spacing: -.05rem;
    font-stretch: condensed;
    line-height: 1;
    background-color: #eeece6;
    color: rgb(64, 64, 64);
    position:relative;
  }

  P {
    margin: .125rem;
  }
  
  img {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .indent {
    text-indent: 10vw;
  }

  .popup {
    position: fixed;
    inset: 0; 
    /* inset is all border, margin and padding all together */
    width: 100vw;
    height: 100vh;
    background-color: rgba(85,85,85,.7);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px 10px;
    align-items: center;
    justify-content: center;
    /* add animation to have the different emerging effect */
  }

 
/* 
the list of things i need to do
1. write all the scripts;
2. thinking about the clicking image function on top of the gif;
3. making the gif;
4. making the endnote and the colophon.
 */
  